body{
  font-family: 'ruda', sans-serif;
  background-color: #DEDEDE;
  color: #000000;
}

h1{
  padding-top: 25px;
  text-align: center;
}

h2{
  text-align: center;
}

a{
  color: #ffffff;
}

nav{
  background-color: #222022 ;
}

.navbar-brand{
  font-family: passionOne;
  font-weight: 900;
  font-size: 40px;
}

.jumbotron{
  background-image: url('../img/bg_hero.png');
  height: 500px;
  color: #ffffff;
  font-size: 7em;
  text-decoration: underline;
}

#sobre-mi p{
  text-align: justify;
}

#carousel{
  text-align: center;
}

#mi-experiencia i{
  color: #222022 ;
}

.container-cards{
  padding: 50px;
  background-color: #1F1E20;
}


.container{
  text-align: center;
}

.exper{
  display: inline-block;
}

.card{
  display: inline-block;
  text-align: left;
}

footer{
  padding-top: 15px;
  padding-bottom: 5px;
  height: 120px;
  background-color: #222022 ;
  color: #ffffff;

}
